<!-- submodules/customer-management_detail.html -->

{% extends "base_nav.html" %}
{% block title %}Customer Management{% endblock %}

{% block content %}
    <div class="text-center my-5">
        <h1 class="display-4 font-weight-bold" style="font-family: 'Arial', sans-serif;">
            {{ submodule.name }} Page
        </h1>
        <p>{{ submodule.description }}</p>
    </div>

        {% if view_profile %}
        <div class="text-center mt-4">
            <!-- Add Button -->
            {% if add_profile %}
            <a href="#" class="btn btn-primary btn-lg mx-2">Add</a>
            {% endif %}
            <!-- Edit Button -->
            {% if change_profile %}
            <a href="#" class="btn btn-warning btn-lg mx-2">Edit</a>
            {% endif %}
            <!-- Delete Button -->
            {% if delete_profile %}
            <a href="#" class="btn btn-danger btn-lg mx-2">Delete</a>
            {% endif %}    
        </div>
        {% endif %}
<!-- Add more details or submodule-specific content here -->
{% endblock %}
