{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <h3>Welcome, {{ user }}!</h3>

    <!-- Time Range Filter -->
    <div class="row mb-4">
        <div class="col-12">
            <form method="get" class="row row-cols-1 row-cols-md-auto g-3 align-items-center">
                <!-- Time Range Filter -->
                <div class="col">
                    <label for="time_range" class="form-label mb-1">Duration</label>
                    <select id="time_range" name="time_range" class="form-select" onchange="this.form.submit()">
                        <option value="week" {% if time_range == 'week' %}selected{% endif %}>Last Week</option>
                        <option value="month" {% if time_range == 'month' %}selected{% endif %}>This Month</option>
                        <option value="60_days" {% if time_range == '60_days' %}selected{% endif %}>Last 60 Days</option>
                        <option value="3_months" {% if time_range == '3_months' %}selected{% endif %}>Last 3 Months</option>
                        <option value="6_months" {% if time_range == '6_months' %}selected{% endif %}>Last 6 Months</option>
                        <option value="1_year" {% if time_range == '1_year' %}selected{% endif %}>Last Year</option>
                    </select>
                </div>

                <!-- Status Filter -->
                <div class="col">
                    <label for="status" class="form-label mb-1">Status</label>
                    <select id="status" name="status" class="form-select" onchange="this.form.submit()">
                        <option value="all" {% if status_filter == 'all' %}selected{% endif %}>All</option>
                        <option value="pending" {% if status_filter == 'pending' %}selected{% endif %}>Pending</option>
                        <option value="approved" {% if status_filter == 'approved' %}selected{% endif %}>Approved</option>
                        <option value="rejected" {% if status_filter == 'rejected' %}selected{% endif %}>Rejected</option>
                    </select>
                </div>

                <!-- Created By Filter -->
                <div class="col">
                    <label for="created_by" class="form-label mb-1">Created By</label>
                    <select id="created_by" name="created_by" class="form-select" onchange="this.form.submit()">
                        <option value="" {% if not created_by %}selected{% endif %}>All Users</option>
                        {% for user in users %}
                            <option value="{{ user.id }}" {% if created_by == user.id|stringformat:"s" %}selected{% endif %}>{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Site Filter -->
                <div class="col">
                    <label for="site" class="form-label mb-1">Site</label>
                    <select id="site" name="site" class="form-select" onchange="this.form.submit()">
                        <option value="" {% if not selected_site %}selected{% endif %}>All Sites</option>
                        {% for site in sites %}
                            <option value="{{ site.id }}" {% if selected_site == site.id|stringformat:"s" %}selected{% endif %}>{{ site.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Clear Button -->
                <div class="d-flex align-items-center align-self-end">
                    <a href="{% url 'dashboard' %}" class="btn btn-primary">Clear</a>
                </div>
            </form>
        </div>
    </div>




    <!-- Total Report Counts Cards -->
    <div class="row">
        <!-- Service Reports Card -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Service Reports</h5>
                </div>
                <div class="card-body">
                    {% if status_filter == 'all' %}
                    <p class="card-text">{{ total_service_reports }} Reports</p>
                    {% else %}
                    <p class="card-text">{{ status_filter }} : {{ total_service_reports }} Reports</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- MOM Reports Card -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">MOM Reports</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ total_mom_reports }} Reports</p>
                </div>
            </div>
        </div>

        <!-- Maintenance Checklist Card -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Maintenance Checklist</h5>
                </div>
                <div class="card-body">
                    {% if status_filter == 'all' %}
                    <p class="card-text">{{ total_maintenance_reports }} Reports</p>
                    {% else %}
                    <p class="card-text">{{ status_filter }} : {{ total_maintenance_reports }} Reports</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- General Reports Card -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">General Reports</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ total_general_reports }} Reports</p>
                </div>
            </div>
        </div>
    </div>  
</div>
{% if status_filter == 'all' %}
<div class="container-fluid mt-5">
    <div class="row">
        <!-- Service Reports Compliance Card -->
        <div class="col-md-3">
            <div class="card d-flex flex-column">
                <div class="card-header">
                    <h3 class="card-title">Service Reports - {{ compliance_status.service.compliance|floatformat:2 }}% </h3>
                </div>
                <div class="card-body d-flex flex-column">
                    <canvas id="serviceComplianceChart"></canvas>
                </div>
            </div>
        </div>
        
        <!-- Maintenance Checklist Compliance Card -->
        <div class="col-md-3">
            <div class="card d-flex flex-column">
                <div class="card-header">
                    <h3 class="card-title ">Maintenance Checklist - {{ compliance_status.maintenance.compliance|floatformat:2 }}%</h3>
                </div>
                <div class="card-body d-flex flex-column">
                    <canvas id="maintenanceComplianceChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<style>
    .gr{
        height:400px
    }
    .grh{
        height:100px
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Data from backend
    const serviceSubmitted = {{ service_submitted }};
    const serviceRemaining = {{ service_remaining }};
    const maintenanceSubmitted = {{ maintenance_submitted }};
    const maintenanceRemaining = {{ maintenance_remaining }};
    const serviceStatus = "{{ compliance_status.service.status }}";
    const maintenanceStatus = "{{ compliance_status.maintenance.status }}";

    // Color Mapping
    const statusColors = {
        "green": "#28a745",
        "yellow": "#3498DB",
        "blue": "#162E65"
    };

    // Service Reports Doughnut Chart
    const serviceCtx = document.getElementById('serviceComplianceChart').getContext('2d');
    new Chart(serviceCtx, {
        type: 'doughnut',
        data: {
            labels: [`${serviceSubmitted} Reports Submitted`, `${serviceRemaining} Remaining`],
            datasets: [{
                data: [serviceSubmitted, serviceRemaining],
                backgroundColor: [statusColors[serviceStatus], '#FF0000']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: true },
                tooltip: { enabled: true }
            }
        }
    });

    // Maintenance Checklist Doughnut Chart
    const maintenanceCtx = document.getElementById('maintenanceComplianceChart').getContext('2d');
    new Chart(maintenanceCtx, {
        type: 'doughnut',
        data: {
            labels: [`${maintenanceSubmitted} Reports Submitted`, `${maintenanceRemaining} Remaining`],
            datasets: [{
                data: [maintenanceSubmitted, maintenanceRemaining],
                backgroundColor: [statusColors[maintenanceStatus], '#FF0000']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: true },
                tooltip: { enabled: true }
            }
        }
    });
</script>


{% endblock content %}
