{% extends "base.html" %}

{% block content%}
</header>
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            SITE VISIT
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->

  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
          <form action="https://httpbin.org/post" method="post" class="card">
            <div class="card-header">
              <h4 class="card-title">SERVICE INFORMATION</h4>
            </div>
            <div class="mb-3">
              <div class="container">
                <label class="form-label">NAME</label>
                <input type="text" class="form-control" name="service_name" placeholder="Enter name....">
              </div>
            </div>
            <div class="mb-3">
              <div class="container">
                <label class="form-label">DATE OF VISIT</label>
                <input type="date" class="form-control" name="date_of_visit" placeholder="Enter date of visit">
              </div>
            </div>
            <div class="mb-3">
              <div class="container">
                <label class="form-label">ZONE</label>
                <select class="form-select" id="select-zone" name="zone">
                  <option value="G">GKN</option>
                  <option value="C">CHP</option>
                  <option value="S">SRS</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <div class="container">
                <label class="form-label">PHONE NO</label>
                <input type="number" class="form-control" name="phone_no" placeholder="Enter number...">
              </div>
            </div>
            <div class="mb-3">
              <div class="container">
                <label class="form-label">REASON OF VISIT</label>
                <input type="text" class="form-control" name="reason_of_visit" placeholder="">
              </div>
            </div>
            <div class="mb-3">
              <div class="container">
                <label class="form-label">IN TIME</label>
                <input type="time" class="form-control" name="in_time" placeholder="">
              </div>
            </div>
            <div class="mb-3">
              <div class="container">
                <label class="form-label">OUT TIME</label>
                <input type="time" class="form-control" name="out_time" placeholder="">
              </div>
            </div>

            <div class="card-header">
              <h4 class="card-title">CUSTOMER INFORMATION</h4>
            </div>
            <div class="container">
              <div class="mb-3">
                <label class="form-label">CUSTOMER NAME</label>
                <input type="text" class="form-control" name="customer_name" placeholder="Enter customer name....">
              </div>
              <div class="mb-3">
                <label class="form-label">CONTACT NUMBER</label>
                <input type="number" class="form-control" name="contact_number" placeholder="Enter contact number...">
              </div>
              <div class="mb-3">
                <label class="form-label">LOCATION</label>
                <input type="text" class="form-control" name="location" placeholder="Enter location...">
              </div>
              <div class="mb-3">
                <label class="form-label">STATE</label>
                <input type="text" class="form-control" name="state" placeholder="Enter state...">
              </div>
              <div class="mb-3">
                <label class="form-label">DATE OF COMPLAINT</label>
                <input type="date" class="form-control" name="date_of_complaint"
                  placeholder="Enter date of complaint...">
              </div>
              <div class="mb-3">
                <label class="form-label">STATUS OF CALL (WARRANTY/AMC)</label>
                <input type="text" class="form-control" name="status_of_call" placeholder="...">
              </div>
            </div>
            <div class="mb-3">
              <div class="container">


                <!-- -----elecctronic items -------- -->
                <h2>ELECTRONIC ITEMS</h2>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Item names</th>
                      <th>Checked</th>
                      <th>Repair</th>
                      <th>Replacement</th>
                      <th>Remark</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in electronic_items %}
                    <tr>
                      <td>{{ item.name }}</td>
                      <td><input type="checkbox" name="checked_{{ item.id }}"></td>
                      <td><input type="checkbox" name="repair_{{ item.id }}"></td>
                      <td><input type="checkbox" name="replacement_{{ item.id }}"></td>
                      <td>
                        <textarea class="form-control" name="remark_{{ item.id }}" placeholder="Remark"></textarea>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- -------Electronic Panels-------- -->
            <div class="container">
              <h2>ELECTRONIC PANELS</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      <h4>Electronic Panel Names</h4>
                    </th>
                    <th>
                      <h4>Checked</h4>
                    </th>
                    <th>
                      <h4>Repair</h4>
                    </th>
                    <th>
                      <h4>Replacement</h4>
                    </th>
                    <th>
                      <h4>Remark</h4>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for panel in electronic_panels %}
                  <tr>
                    <td>{{ panel.name }}</td>
                    <td>
                      <input type="checkbox" name="checked_{{ panel.id }}">
                    </td>
                    <td>
                      <input type="checkbox" name="repair_{{ panel.id }}">
                    </td>
                    <td>
                      <input type="checkbox" name="replacement_{{ panel.id }}">
                    </td>
                    <td>
                      <div class="mb-3">
                        <textarea class="form-control" name="remark_{{ panel.id }}" placeholder="Remark"></textarea>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- ---------Chemical Items ----------- -->
            <div class="container">
              <h2>CHEMICAL ITEMS</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      <h4>Chemical Item Names</h4>
                    </th>
                    <th>
                      <h4>Checked</h4>
                    </th>
                    <th>
                      <h4>Repair</h4>
                    </th>
                    <th>
                      <h4>Replacement</h4>
                    </th>
                    <th>
                      <h4>Remark</h4>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in chemical_items %}
                  <tr>
                    <td>{{ item.name }}</td>
                    <td>
                      <input type="checkbox" name="checked_chemical_{{ item.id }}">
                    </td>
                    <td>
                      <input type="checkbox" name="repair_chemical_{{ item.id }}">
                    </td>
                    <td>
                      <input type="checkbox" name="replacement_chemical_{{ item.id }}">
                    </td>
                    <td>
                      <textarea class="form-control" name="remark_chemical_{{ item.id }}"
                        placeholder="Remark"></textarea>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- PUMP / FILTERS / AIRBLOWERS -->
            <div class="container">
              <h2>PUMP / FILTERS / AIRBLOWERS</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Pump Item Names</th>
                    <th>Checked</th>
                    <th>Repair</th>
                    <th>Replacement</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pump in pumps %}
                  <tr>
                    <td>{{ pump.name }}</td>
                    <td><input type="checkbox" name="checked_pump_{{ pump.id }}"></td>
                    <td><input type="checkbox" name="repair_pump_{{ pump.id }}"></td>
                    <td><input type="checkbox" name="replacement_pump_{{ pump.id }}"></td>
                    <td>
                      <textarea class="form-control" name="remark_pump_{{ pump.id }}" rows="2"
                        placeholder="Remark"></textarea>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Miscellaneous Item names -->
            <div class="container">
              <h2>MISCELLANEOUS ITEMS</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Miscellaneous Item Names</th>
                    <th>Checked</th>
                    <th>Repair</th>
                    <th>Replacement</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in miscellaneous_items %}
                  <tr>
                    <td>{{ item.name }}</td>
                    <td><input type="checkbox" name="checked_miscellaneous_{{ item.id }}"></td>
                    <td><input type="checkbox" name="repair_miscellaneous_{{ item.id }}"></td>
                    <td><input type="checkbox" name="replacement_miscellaneous_{{ item.id }}"></td>
                    <td>
                      <textarea class="form-control" name="remark_miscellaneous_{{ item.id }}" rows="2"
                        placeholder="Remark"></textarea>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- WASTEWATER PARAMETER -->
            <div class="container">
              <h2>WASTEWATER PARAMETERS</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Water Parameter</th>
                    <th>Checked</th>
                    <th>Repair</th>
                    <th>Replacement</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  {% for parameter in wastewater_parameters %}
                  <tr>
                    <td>{{ parameter.name }}</td>
                    <td><input type="checkbox" name="checked_wastewater_{{ parameter.id }}"></td>
                    <td><input type="checkbox" name="repair_wastewater_{{ parameter.id }}"></td>
                    <td><input type="checkbox" name="replacement_wastewater_{{ parameter.id }}"></td>
                    <td>
                      <textarea class="form-control" name="remark_wastewater_{{ parameter.id }}" rows="2"
                        placeholder="Remark"></textarea>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- MACHINE RUN TIMES -->
            <div class="container">
              <h2>MACHINE RUN TIMES</h2>
                <table class="table table-bordered" id="machineRunTable">
                  <thead>
                    <tr>
                      <th>
                        <h4>Run type</h4>
                      </th>
                      <th>
                        <h4>Run time</h4>
                      </th>
                      <th>
                        <h4>End time</h4>
                      </th>
                      <th>
                        <h4>Checked</h4>
                      </th>
                      <th>
                        <h4>Pass</h4>
                      </th>
                      <th>
                        <h4>Fail</h4>
                      </th>
                      <th>
                        <h4>Remark</h4>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="runCycleRows">
                    <tr id="run_cycle_1">
                      <td>Run cycle 1</td>
                      <td><input type="time" name="run_time_1"></td>
                      <td><input type="time" name="end_time_1"></td>
                      <td><input type="checkbox" name="checked_1"></td>
                      <td><input type="checkbox" name="pass_1"></td>
                      <td><input type="checkbox" name="fail_1"></td>
                      <td><textarea class="form-control" name="remark_1" rows="2" placeholder="Remark"></textarea></td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" id="addRunCycleBtn" class="btn btn-primary mb-3">Add More Run Cycles</button>
                <input type="hidden" name="run_cycle_count" id="runCycleCount" value="1">
            </div>
            <!-- Tool Kits  -->
            <div class="container">
              <h2>TOOLS KITS</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Tools Name</th>
                    <th>Details</th>
                    <th>Qty</th>
                    <th>Remark</th>
                    <th>Taken Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tool in tools %}
                  <tr>
                    <td>{{ tool.name }}</td>
                    <td>{{ tool.details }}</td>
                    <td><input type="number" name="quantity_{{ tool.id }}" class="form-control" placeholder="Enter quantity"></td>
                    <td><input type="text" name="remark_{{ tool.id }}" class="form-control" placeholder="Enter remark"></td>
                    <td><input type="checkbox" name="taken_status_{{ tool.id }}"></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            
              <div class="container">
                <h2>OTHER REMARKS</h2>
                <table class="table table-bordered" id="remarks-table">
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <div class="mb-3">
                          <textarea class="form-control" name="remark_1" rows="2" placeholder="Remark"></textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <div class="mb-3">
                          <textarea class="form-control" name="remark_2" rows="2" placeholder="Remark"></textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <div class="mb-3">
                          <textarea class="form-control" name="remark_3" rows="2" placeholder="Remark"></textarea>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" id="add-remark-btn" class="btn btn-primary mb-3 ">Add Remark</button>
              </div>
              <div class="container">
                <h2>SPARES DETAILS</h2>
                <table class="table table-bordered" id="spares-table">
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <div class="mb-3">
                          <textarea class="form-control" name="spare_1" rows="2"
                            placeholder="Enter spare details"></textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <div class="mb-3">
                          <textarea class="form-control" name="spare_2" rows="2"
                            placeholder="Enter spare details"></textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <div class="mb-3">
                          <textarea class="form-control" name="spare_3" rows="2"
                            placeholder="Enter spare details"></textarea>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" id="add-spare-btn" class="btn btn-primary mb-3">Add Spare</button>
              </div>
              <div class="container">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>Certified by:</td>
                      <td>
                        <input type="text" class="form-control" name="certified_by" placeholder="Enter certified by...">
                      </td>
                      <td>Approved by:</td>
                      <td>
                        <input type="text" class="form-control" name="approved_by" placeholder="Enter approved by...">
                      </td>
                    </tr>
                    <tr>
                      <td>Name:</td>
                      <td>
                        <input type="text" class="form-control" name="certified_by_name"
                          placeholder="Enter certified by name...">
                      </td>
                      <td>Name:</td>
                      <td>
                        <input type="text" class="form-control" name="approved_by_name"
                          placeholder="Enter approved by name...">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content%}