{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <h2>Maintenance Checklist Records</h2>
    <div class="row row-cards mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'maintenance_checklist' %}" method="GET" class="row g-2 d-flex justify-content-between">
                        <!-- Left side: Create and Export buttons -->
                        <div class="col-md-3 d-flex justify-content-start">
                            <a href="{% url 'maintenance_checklist_records' %}" class="btn btn-success me-2">Create Report</a>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Export
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="exportDropdown">
                                    <li><a class="dropdown-item" href="{% url 'export_maintenance_checklist_csv' %}">Export as CSV</a></li>
                                    <li><a class="dropdown-item" href="{% url 'export_maintenance_checklist_pdf' %}">Export as PDF</a></li>
                                    <li><a class="dropdown-item" href="{% url 'export_maintenance_checklist_xlsx' %}">Export as XLSX</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Right side: Search input and buttons -->
                        <div class="col-md-6 d-flex justify-content-end">
                            <input type="text" name="search" class="form-control me-2" value="{{ search_query }}" placeholder="Search reports by site name, date, or keywords...">
                            <button type="submit" class="btn btn-primary me-2">Search</button>
                            <a href="{% url 'maintenance_checklist' %}" class="btn btn-secondary">Clear Search</a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Inspector</th>
                    <th>Date</th>
                    <th>Machine</th>
                    <th>Visit Date</th>
                    <th>Notes</th>
                    <th>Attachments</th>
                    <th>Status</th>
                    <th>Actions</th>
                    {% if user_role == 'Admin' %}
                    <th>History</th>
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for checklist in checklists %}
                <tr>
                    <td>{{ checklist.inspector_name }}</td>
                    <td>{{ checklist.date }}</td>
                    <td>{{ checklist.machine.name }}</td>
                    <td>{{ checklist.visit_date }}</td>
                    <td>{{ checklist.observations|linebreaks }}</td>
                    <td>
                        {% if checklist.attachments.exists %}
                        <ul>
                            {% for attachment in checklist.attachments.all %}
                            <li><a href="{{ attachment.file.url }}" target="_blank">{{ attachment.file.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        No Attachments
                        {% endif %}
                    </td>
                    <td>{{ checklist.get_status_display }}</td>
                    <td>
                        <a href="{% url 'edit_maintenance_checklist' checklist.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'pdf_maintenance_checklist' checklist.id %}" class="btn btn-primary btn-sm">Download PDF</a>
                    </td>
                    {% if user_role == 'Admin' %}
                        <td>
                            <a href="{% url 'maintenance_checklist_detail' checklist.id %}" class="btn btn-info btn-sm">Edit history</a>
                        </td>
                        <td>
                            {% if checklist.status == 'pending' %}
                            <a href="{% url 'update_status' checklist.id 'approve' %}" class="btn btn-success btn-sm">Approve</a>
                            <a href="{% url 'update_status' checklist.id 'reject' %}" class="btn btn-danger btn-sm">Reject</a>
                            {% else %}
                            <button class="btn btn-secondary" disabled>{{ checklist.get_status_display }}</button>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No maintenance records found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
